html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
footer h3 {
    font: 400 15px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 4px;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1,
.hdst1 {
    margin: 0;
    font: 400 30px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    background: #f2f2f2;
    padding: 8px 8px 8px 50px;
    position: relative;
}
h1:after,
.hdst1:after {
    content: '';
    width: 28px;
    height: 28px;
    background: #535372 url(../img/connect-img.svg) no-repeat center center;
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    background-size: 33px auto;
}h3{
    font: 400 25px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
}.top-bar {
    background: #878897;
    padding: 3px 0;
}
.container {
    width: calc(100% - 30px);
    max-width: 1286px;
    margin: 0 auto;
}
.header-wrappper {
    background: #fff;
    position: relative;
    z-index: 200;
}
.header-wrappper .container:after {
    content: '';
    display: table;
    clear: both;
}
.right-btns {
    float: right;
}
.searchform,
.login-btn {
    float: left;
}
.login-btn {
    background: #21aaad url(../img/lock-icon.svg) no-repeat 5px center;
    padding: 2px 6px 4px 21px;
    font: 400 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    letter-spacing: 0.02em;
}
.searchform input[type="search"] {
    background: #fff url(../img/search-icon.svg) no-repeat 6px center;
    border-radius: 2px;
    box-shadow: 0px 1px 4px 0px rgba(105, 105, 105, 0.5);
    width: 261px;
    height: 23px;
    font: italic 14px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.028;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    padding-left: 27px;
}
.searchform::-webkit-input-placeholder {
    color: #000;
}
.searchform:-moz-placeholder {
    color: #000;
}
.searchform::-moz-placeholder {
    color: #000;
}
.searchform:-ms-input-placeholder {
    color: #000;
}
.logo {
    float: left;
    margin-left: -3px;
}
.logo img{
    width: 125px;
}
.main-menu {
    float: right;
    list-style-type: none;
    margin: 29px 1px 0 0;
    padding-left: 0;
}
.main-menu li {
    font: 300 15.75px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 36px;
    position: relative;
    letter-spacing: 0.02em;
}
.main-menu li ul {
    position: absolute;
    top: 100%;
    left: -14px;
    width: 250px;
    padding: 14px 0 15px;
    background: #fff;
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 1px 4px 0px rgba(105, 105, 105, 0.5);
}
.main-menu li ul li {
    float: none;
    padding-bottom: 0;
    display: block;
    font-size: 18px;
    text-transform: none;
    letter-spacing: -0.001em;
    line-height: 1.12;
    padding: 0 15px;
}
.main-menu li ul ul{
    position: absolute;
    left: 100%;
    top: -15px;
}
.main-menu li ul li + li {
    margin-left: 0;
    margin-top: 10px;
}
.main-menu li + li {
    margin-left: 30px;
}
.main-menu li ul li.active a {
    color: #1fa6a9;
}
.main-menu li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.main-menu>li>a:before {
    content: '';
    position: absolute;
    top: 100%;
    height: 2px;
    background: #000;
    left: 50%;
    width: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 4px;
}
.main-menu>li.active>a:before {
    width: 100%;
    visibility: visible;
    opacity: 1;
}
.main-menu li ul a{
    display: block;
}
.header-wrappper>.container {
    padding: 9px 0 0;
}
.main-menu>li.active>a {
    font-weight: 700;
}
.main-menu .home {
    position: relative;
}
.main-menu .home:after {
    content: '';
    width: 25px;
    height: 22px;
    background: url(../img/homeicon.svg) no-repeat 0 0;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: -1;
    opacity: .5;
}
.footer-top-section {
    background: #424343;
    padding: 24px 49px 22px;
}
.footer-info p {
    font: 300 14px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 18px;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 0.01em;
}
.footer-info p a {
    text-decoration: none;
    color: #fff;
}
.social-hd {
    display: inline-block;
    font: 400 15px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 2;
    color: #fff;
    margin-right: 10px;
}
.social-links {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: -5px 0 0;
    padding: 0;
}
.social-links li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.social-links li a {
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    line-height: 24px;
    text-align: center;
}
.social-links li a img {
    vertical-align: middle;
}
.footer-info {
    width: 23.6%;
    float: left;
    padding-right: 10px;
}
.footer-links {
    width: 14.12%;
    float: left;
    padding-top: 24px;
    padding-right: 10px;
}
.footer-links:nth-child(3) {
    width: 18.6%;
}
.footer-links:nth-child(4) {
    width: 14.3%;
}
.footer-links:nth-child(5) {
    width: 13.3%;
}
.footer-links ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.footer-links ul li {
    font: 300 14px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 18px;
    color: #ffffff;
}
.footer-links ul li a {
    text-decoration: none;
    color: #ffffff;
}
.footer-links ul li.active a{
    color: #1fa6a9;
}
.footer-logo {
    float: right;
}
.copyright {
    text-align: center;
    padding: 13px;
}
.copyright p{
    font: 300 13px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 15px;
    color: #424343;
    letter-spacing: 0.01em;
    margin: 0;
}
.footer-logo {
    width: 15.742%;
    margin-top: 6px;
    margin-right: 0.3%;
}
.footer-logo img {
    width: 100%;
    display: block;
}
.content-wrapper {
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}
.content-wrapper:before{
    border-top: 1px solid #a9a9a9;
    width: calc(100% + 12px);
    position: absolute;
    top: 0;
    left: -6px;
    height: 0;
    content: '';
}
.main-content {
    padding: 16px 50px 2px;
}
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0 0 8px;
}
.breadcrumb>li {
    list-style-type: none;
    font: 400 10px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
}
.breadcrumb>li>a {
    color: #a0a1ad;
    text-decoration: none;
}
.breadcrumb>li>span {
    color: #535372;
}
.breadcrumb>li + li {
    padding-left: 28px;
    background: url(../img/arrow_right_gray.svg) no-repeat 0px center;
    margin-left: 0px;
}
.inner-content {
    padding: 57px 25px 57px 22px;
}
.banner-section img {
    display: block;
    width: 100%;
}
.banner-section {
    margin-bottom: 54px;
}
.content-box {
    padding: 17px 29px 3px;
    border: 1px solid #e6e6e6;
}
.address-box {
    padding-bottom: 28px;
}
.content-box h2 ~ h2 {
    margin-top: 38px;
}
.content-box p {
    margin-bottom: 20px;
    line-height: 1.3;
    text-align: justify;
    letter-spacing: 0.003em;
}
.address-box p {
    line-height: 1.5;
    margin-bottom: 10px;
}
h2 {
    font: 700 22px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    margin: 0 0 20px;
    color: #000;
    letter-spacing: 0.01em;
}
.address-box h2 {
    margin-bottom: 17px;
}
p {
    font: 300 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: #424343;
    margin: 0 0 17px;
    letter-spacing: 0.046em;
}
p a {
    color: inherit;
    text-decoration: none;
}
.smbld {
    font-weight: 400;
}
.home {
    padding: 0;
}
.slide-section {
    width: calc(100% - 330px);
    float: left;
    margin-top: 1px;
}
.slide-section .slide {
    height: 379px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-post {
    position: absolute;
    width: 645px;
    bottom: 26px;
    left: 52px;
    max-width: 90%;
}
.slide-post h2 {
    font: 700 30px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(66, 67, 67, 1);
    margin-bottom: 15px;
}
.slide-content {
    background: rgba(83, 83, 114, .6);
    padding: 5px 11px 9px;
}
.slide-content p {
    margin: 0;
    font: 300 20px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: #fff;
    letter-spacing: 0;
}
.thumbnails-right {
    float: right;
    width: 318px;
    margin-top: 32px;
}
.post-thumbnail {
    width: calc(50% - 4px);
    float: left;
    margin-left: 4px;
    margin-bottom: 3px;
}
.post-thumbnail a {
    min-height: 150px;
    position: relative;
    display: block;
    padding: 11px 10px 12px 12px;
    text-decoration: none;
    color: #fff;
}
.post-thumbnail:nth-child(even) {
    float: right;
}
.post-thumbnail:nth-child(1) {
    background: #1fa6a9;
}
.post-thumbnail:nth-child(1) a:after {
    content: '';
    background: url(../img/formations_img.png) no-repeat bottom right;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 133px;
    height: 132px;
}
.post-thumbnail:nth-child(2) {
    background: #616181;
    margin-top: 20px;
}
.post-thumbnail:nth-child(2) a:after {
    content: '';
    background: url(../img/publications_img.png) no-repeat bottom left;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 133px;
    height: 132px;
}
.post-thumbnail:nth-child(3) {
    background: #424343;
}
.post-thumbnail:nth-child(3) a:after {
    content: '';
    background: url(../img/congres_img.png) no-repeat bottom left;
    position: absolute;
    right: 0;
    top: 0;
    width: 133px;
    height: 132px;
}
.post-thumbnail:nth-child(4) {
    background: #9394a4;
}
.post-thumbnail:nth-child(4) a:after {
    content: '';
    background: url(../img/participation_img.png) no-repeat bottom left;
    position: absolute;
    left: 0;
    top: 0;
    width: 133px;
    height: 132px;
}
.post-thumbnail h3 {
    font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    margin: 0;
    position: relative;
    z-index: 1;
    margin-bottom: 2px;
    text-transform: initial;
}
.post-thumbnail p {
    font: 400 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    margin: 0;
    position: relative;
    z-index: 1;
    letter-spacing: 0;
}
.post-thumbnail .post-btn2 {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15px;
    left: 0;
    z-index: 1;
    padding: 0 10px;
    font: 400 15px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
}
.post-thumbnail .post-btn2:before {
    content: '';
    display: inline-block;
    width: 29px;
    height: 8px;
    background: url(../img/arrow_white_right.svg) no-repeat 0 center;
    -webkit-background-size: 29px 8px;
    background-size: 29px 8px;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: -1px;
}
.inner-home-content {
    padding: 29px 50px 31px;
}
.nos-mem-section {
    margin-bottom: 42px;
}
.nos-mem-section h2 {
    margin-bottom: 17px;
    padding-left: 51px;
}
.post-icons {
    display: inline-block;
    width: 142px;
    height: 142px;
    background: #6fbbbd;
    vertical-align: top;
    text-align: center;
    line-height: 143px;
    position: relative;
    margin-left: 10px;
    width: calc(25% - 11px);
}
.post-icons:first-child {
    margin-left: 0;
}
.post-icons img {
    vertical-align: middle;
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.post-icons span {
    width: 78.04%;
    padding-bottom: 78.04%;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.post-icons:after {
    content: '';
    opacity: .3;
    position: absolute;
}
.post-icons:first-child:after {
    background: url(../img/nos_membre_img1.png) no-repeat right 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
.post-icons:nth-child(2):after {
    background: url(../img/nos_membre_img2.png) no-repeat right 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
.post-icons:nth-child(3):after {
    background: url(../img/nos_membre_img3.png) no-repeat right 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
.post-icons:nth-child(4):after {
    background: url(../img/nos_membre_img4.png) no-repeat 0 bottom;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
.left-posts-section {
    padding: 5px;
    float: left;
    background: #fff;
    border: 1px solid #e6e6e6;
    text-align: center;
    width: 52.7%;
}
.important-note {
    float: right;
    width: 45.6%;
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 16px 31px 19px;
    position: relative;
}
.important-note:after {
    content: '';
    width: 328px;
    height: 96px;
    background: url(../img/line_block.jpg) no-repeat 0 bottom;
    position: absolute;
    right: -1px;
    bottom: -1px;
}
.important-note h3 {
    font: 400 25px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: #424343;
    margin: 0 0 18px;
    text-transform: initial;
    position: relative;
    z-index: 1;
}
.reseau-btn:after {
    content: '';
    display: table;
    clear: both;
}
.reseau-btn .btn {
    font: 400 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.reseau-btn .adherer-btn {
    float: left;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(86, 49, 86);
    border-radius: 3px;
      background-image: -moz-linear-gradient( 90deg, rgb(123,0,70) 0%, rgb(154,24,98) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(123,0,70) 0%, rgb(154,24,98) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(123,0,70) 0%, rgb(154,24,98) 100%);
    padding: 10px 21px;
    font-weight: 700;
}


.reseau-btn .adhesion-btn {
    float: right;
    padding: 10px 9px;
    color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);
    border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    margin-right: -30px;
}
.share-bar {
    background: #888a98;
    text-align: right;
    padding: 3px 4px;
    margin-bottom: 11px;
}
.left-btm-section {
    width: 34.6%;
    float: left;
    padding-right: 36px;
}
.left-btm-section .news-btn {
    width: 310px;
    margin-bottom: 5px;
}
.left-btm-section h2:after{
    background: #535372 url(../img/evenement_icon.svg) no-repeat center center;
    left: 10px;
}
.home-btm-section:after {
    content: '';
    display: table;
    clear: both;
}
.share-bar a {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 4px 0px rgba(105, 105, 105, 0.5);
    width: 28px;
    height: 28px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    line-height: 28px;
}
.share-bar span {
    font: 400 14px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.04em;
}
.inner-btm-left {
    padding: 6px;
    border: 1px solid #e6e6e6;
    margin-top: 11px;
    position: relative;
}
.img-section {
    padding: 26px 34px 71px;
    background: #f2f2f2;
}
.img-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #b8b8b8;
    display: block;
    margin: 0 auto;
}
.right-btm-section {
    overflow: hidden;
    padding-bottom: 18px;
}
.news-wrapper {
    padding: 4px;
    border: 1px solid #e6e6e6;
    margin-top: 21px;
}
.news-wrapper:after {
    content: '';
    display: table;
    clear: both;
}
.news-wrapper .post-img{
    margin-bottom: 35px;
}
.new-post {
    width: calc(50% - 7px);
    display: inline-block;
    background: #f2f2f2;
    padding: 36px 20px 68px 23px;
    position: relative;
    vertical-align: middle;
}

.new-post:first-child{
    background: #f2f2f2 url(../img/s_informer_img.jpg) no-repeat right bottom;
}

.post-cat {
    position: absolute;
    top: -16px;
    left: 22px;
    right: 22px;
    background: #1fa6a9;
    padding: 10px;
    font: 400 14px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.post-meta {
    font-size: 15px;
    margin-bottom: 15px;
    letter-spacing: 0;
}
.new-post:nth-child(2) {
    margin-left: 9px;
    padding-bottom: 65px;
    margin-top: 19px;
    background-color: #f2f2f2;
    background-image: url(../img/a_voir_img1.jpg), url(../img/a_voir_img2.jpg);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
}
.new-post h3 {
    font: 700 22px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.15;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 20px;
    letter-spacing: 0.01em;
}
.new-post p{
    line-height: 20px;
}
.post-img img {
    max-width: 100%;
}
.post-img {
    margin-bottom: 22px;
}
.post-img iframe{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.video-section{
    height: 0;
    padding: 37px 0 44.47%;
    min-height: 0;
    position: relative;
}
.video-section iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.news-btn {
    width: 260px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(105, 105, 105, 0.5);
    padding: 20px 5px;
    text-decoration: none;
    font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1;
    color: #000;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.news-btn:before {
    content: '';
    width: 29px;
    height: 7px;
    display: inline-block;
    position: relative;
    background: url(../img/arrow_right_black.svg) no-repeat 0px center;
    -webkit-background-size: 29px 7px;
    background-size: 29px 9px;
    top: -2px;
    margin-right: 3px;
    transform: translateX(-6px);
}
.right-btm-section .hdst1 {
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    padding-left: 49px;
}
.owl-pagination {
    position: absolute;
    right: 33px;
    bottom: 17px;
}
.owl-controls .owl-page {
    display: inline-block;
}
.owl-controls .owl-page span {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    margin-left: 5px;
}
.owl-controls .owl-page.active span {
    opacity: 1;
}
.hdst1 {
    padding-left: 48px;
}
.right-btm-section h2:after {
    background: #535372 url(../img/nos_actualites-icon.svg) no-repeat -1px center;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    left: 10px;
}




/*.................Federation-start........................*/
.fed-main{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-top: 1px solid #a9a9a9;
      padding: 20px 50px 31px;

}
.fed-main-h:after{
    background-image: url(../img/nos_actualites-icon.svg);
    background-size: 25px;
    background-position: -2px 7px;
}
h3{
    font: 400 25px 'Lato', Arial, Helvetica, sans-serif;
    color: #000;
    text-transform: uppercase;
}
.fed-content-wrap h3{
    margin: 26px 0 38px 0;
    text-align: center;
    letter-spacing: 0.01em;
}
.fed-left-content{
    float: left;
    margin: 50px -33px 0 0;
    width: 51.492%;

}
.fed-left-content img{
    width: 100%;
}
.fed-right-content{
    width: 51.3%;
    float: right;
    margin-bottom: 20px;
}
.para-style{
    background-color: #37b5b8;
    padding: 15px 10px 18px 29px;
    position: relative;
}
.para-style p{
    color: #fff;
    margin: 0;
    text-indent: 35px;
    letter-spacing: 0;
    text-align: justify;
}
.para-style:before{
position: absolute;
    top: -2px;
    left: -2px;
    content: "";
    background: url(../img/quote_icon.svg) 0 0 no-repeat;
    width: 26px;
    height: 21px;

}
.para-two{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 16px 29px 0;
    margin: 40px 0 0 0;
}
.para-two.adj{
    margin-top: 3px;
    padding: 17px 30px 19px;
}
.fed-content-wrap{
    max-width: 1140px;
    margin: 0 auto 0;
}
.fed-content-wrap .img-grey-btm{
    padding: 17px 0;
}
.para-two p{
        margin-bottom: 20px;
        letter-spacing: -0.03em;
        text-align:justify;
}

.para-two p:nth-child(1){
    text-indent: 37px;
    letter-spacing: 0;

}
.para-two.adj p:nth-child(1){
    text-indent: 0;
}
.img-grey-btm{
    background-color: #f2f2f2;
    text-align: center;
    padding: 18px 0;
}
.img-grey-btm p{
    margin: 0;
    font-size: 14px;
    letter-spacing: 0;
}
/*.................Federation-end........................*/

.fed-content-wrap:after{
    content: '';
    display: table;
    clear: both;
}
.box-wrapper{
    border:1px solid #e6e6e6;
    padding: 32px 27px 31px;
    margin-bottom: 45px;
    margin:21px 23px 45px;
}
.box-wrapper ul{
    list-style:none;
    margin: 0;
    padding-left: 36px;
}
.box-wrapper ul li{
    list-style: none;
    font: 300 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.25;
    position: relative;
    padding-left: 12px;
    color: #424343;
}
.box-wrapper ul li + li{
    margin-top: 5px;
}
.box-wrapper ul li:before{
    content: '– ';
    position: absolute;
    top: 0;
    left: 0;
}
.green-section{
    padding: 19px 30px 21px;
    background: #21adb0 url(../img/quote_icon_left.svg) no-repeat right -3px top -3px;
    width: 100%;
    max-width: 606px;
    margin: 0 auto -42px;
    position: relative;
    z-index: 1;
}
.box-wrapper p{
    letter-spacing: 0.003em;
    margin-bottom: 20px;
}
.green-section p{
    font: 300 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: #fff;
    margin: 0;
    letter-spacing: 0;
}
.president-info{
    max-width: 944px;
    width: 100%;
    margin: 0 auto 45px;
    padding-right: 188px;
}
.president-info:after{
    content: '';
    display: table;
    clear: both;
}
.president-img{
    float: left;
}
.president-content{
    float: right;
    width: 376px;
    margin-top: 104px;
    text-align: right;
}
.pff{
    display: block;
    font: 400 16px 'Lato', Arial, Helvetica, sans-serif;
    color: #424343;
    margin-top: 22px;
    margin-right: 4px;
}
.post-btns{
    margin-top: 15px;
    padding-left: 49px;
    padding-right: 0;
    text-align: center;
}
.post-btn{
    padding: 8px 28px 10px 66px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 211, 211, 211 );
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    display: inline-block;
    font: 400 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.3;
  color: #000;
    text-decoration: none;
    border-radius: 3px;
    height: 36px;
    position: relative;
    margin: 0 1px;
}
.post-btn:after{
    position: absolute;
    top: 50%;
    margin-top: -4px;
    background: url(../img/arrow_right_black.svg) no-repeat 0 center;
    content: '';
    width: 29px;
    height: 8px;
    left: 24px;
}
.post-btn:last-child{
  padding-left: 45px;
  padding-right: 8px;

}
.post-btn:last-child:after{
    left: 8px;
    background-size: 29px auto;
}

.view:after {
    content: '';
    background: url(../img/eye_icon.svg) no-repeat 0 0;
    width: 17px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
.posts-page-wrapper{
    max-width: 750px;
    width: 100%;
    margin: 22px auto 0px;
}
.post{
    padding-bottom: 32px;
    padding-top: 32px;
}
.post h2{
    font-size: 20px;
    line-height: 1;
    margin: 0 0 7px;
    min-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.post h2 a{
    text-decoration: none;
    color: inherit;
}
.user-meta{
    display: block;
    font: 400 12px 'Lato', Arial, Helvetica, sans-serif;
    color: #535372;
    margin-bottom: 19px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}
.post-img a{
    display: block;
}
.post-img img{
    max-width: 100%;
    display: block;
    margin: 0 auto 36px;
}
.post p{
    margin-bottom: 37px;
    letter-spacing: -0.01em;
}
.share-post span{
    font: 400 14px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #888a98;
    text-transform: uppercase;
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.04em;
}
.share-post a{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px 0px rgba(105, 105, 105, 0.5);
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;

}
.evt-list{
    padding:21px 50px 43px;
}
.share-post{
    padding-left: 2px;
}
.post{
    border-bottom: 1px solid #9ea0ac;
}
.pagination{
    text-align: center;
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
    clear: both;
}
.pagination li a, .pagination li span{
    display: inline-block;
    vertical-align: middle;
}
.pagination li a:not(.prev-post):not(.next-post), .pagination li span{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
    min-width: 38px;
    height: 38px;
    padding: 5px;
    text-decoration: none;
    font: 400 12px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 26px;
    color: #2d2d2d;
    text-decoration: none;
}
.pagination li span.current{
    background: #20abae !important;
    border-color:#20abae !important;
    color: #fff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.pagination li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    margin: 0 1px;
}
.pagination li a.prev-post,
.pagination li a.next-post{
    width: 23px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    text-indent: 100%;
    padding: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}
.pagination li a.prev-post{
    background: url(../img/arrow_left_black_large.svg) no-repeat 0 0;
    margin-right: 33px;
}
.pagination li a.next-post{
    background: url(../img/arrow_right_black_large.svg) no-repeat 0 0;
    margin-left: 30px;
}


.single-top-section{
    padding: 56px 23px 70px;
}
.leftpost-content{
    width: 57.194%;
    float: left;
}
.single-img-wrapper{
    margin-bottom: 38px;
    position: relative;
}
.single-img-wrapper>img{
    width: 100%;
    display: block;
    position: relative;
}
.sinle-post-content{
    padding-right: 60px;
}
.sinle-post-content .post-meta{
    text-align: right;
    display: block;
    color: #535372;
    font: 400 12px 'Lato', Arial, Helvetica, sans-serif;
    letter-spacing: 0.045em;
    padding-right: 36px;
    margin-bottom: 21px;
}
.sinle-post-content p{
    text-align: justify;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}
.sinle-post-content p:first-of-type{
    font-weight: 400;
    margin-bottom: 20px;
}
.sinle-post-content .share-post{
    margin-top: -12px;
    padding-left: 0;
}
.form-widget{
    float: right;
    width: 31.58%;
    border:1px solid #e6e6e6;
    padding: 19px 18px 17px;
    margin-top: 4px;
}
.form-widget h4{
    font: 700 19px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 11px;
    letter-spacing: 0.015em;
}
.form-widget p{
    color: #000;
    margin-bottom: 22px;
}
.form-widget h5{
    font: 700 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 7px;
}
.form-widget label{
    display: block;
    font: 300 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: #424343;
    margin: 0 0 0;
    letter-spacing: 0;
    padding:6px 0 6px 34px;
    position: relative;
    margin-top: 8px;
}
.form-widget label:first-of-type{
    margin-top: -2px;
}
.form-widget label input[type="checkbox"]{
    display: none;
}
.form-widget label input[type="checkbox"]:checked + .radio-box:after{
    visibility: visible;
}
select {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 29px;
  margin-bottom: 27px;
  font: 300 16px 'Lato', Arial, Helvetica, sans-serif;
  color: #e6e6e6;
  line-height: 27px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/arrow_down_gray.svg) no-repeat right 10px center;
  padding-left: 10px;
}

.radio-box{
    width: 28px;
    height: 28px;
    border:1px solid #000;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 3px;
    line-height: 26px;
    text-align: center;
}
.radio-box:after{
    content: '';
    border-radius: 1px;
    background-color: rgb(31, 166, 169);
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-top: -3px;
    visibility: hidden;
}
.form-widget input[type="submit"]{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
    width: 240px;
    height: 66px;
    margin: 42px auto 0;
    display: block;
    font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
}
.line1{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    border: 0;
    border-top: 1px solid #9ea0ac;

}
.container2{
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}
.section{
    padding: 32px 0 37px;
    border-bottom: 1px solid #9ea0ac;
}
.section:last-child{
    border-bottom: 0;
}
.section h3{
    margin: 0 0 23px;
    color: #000;
}
.section p{
    margin: 0;
    letter-spacing: 0;
}
.section3 p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.grey-section{
    background: #f2f2f2;
    padding: 23px 33px 26px;
    margin-top: 33px;
}
.grey-section + .grey-section{
    margin-top: 10px;
}
.grey-section h4{
    font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    margin: 0 0 24px;
    text-transform: uppercase;
}
.grey-section p{
    color: #000;
}
.btns-section{
    max-width: 566px;
    width: 100%;
    margin: 31px auto 0;
}
.novtel-btn{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 211);
  border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
  width: 244px;
  height: 40px;
  float: left;
  text-align: center;
  text-decoration: none;
  font: 400 16px 'Lato', Arial, Helvetica, sans-serif;
  line-height: 23px;
    color: #000;
  padding: 7px;
}
.novtel-btn:last-child{
    float: right;
}

.pager:after{
    content: '';
    display: table;
    clear: both;
}
.pager a{
    font: 400 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #000;
    text-decoration: none;
    width: 290px;
    max-width: 290px;
}
.pager a span{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 3px;
    letter-spacing: 0.01em;
}
.evt-pager{
    padding-top: 21px !important;
}
.prev-post{
    float: left;
    padding-left: 38px;
    background: url(../img/arrow_left_black.svg) no-repeat 0 7px;
}
.next-post{
    float: right;
    padding-right: 41px;
    background: url(../img/arrow_right_black.svg) no-repeat right 8px;
    text-align: right;
}
.pager{
    padding-top: 45px;
    border-top: 1px solid #333;
    margin: 17px 22px 0px 20px;
}
.detail-actualities + .page{
    border-top: 1px solid #9ea0ac;
}
/*.................liste-actualities-start........................*/

.liste-actualities{
    margin-top: 25px;
}
.liste-actualities h2{
    line-height: 1.2;
    margin-bottom: 9px;
    word-spacing: -1.3px;
}
.liste-actualities .user-meta{
    margin-bottom: 15px;
    color: #535372;
    float: left;
}
.liste-actualities .post-img{
    margin-bottom: 18px;
    clear: both;
}
.liste-actualities .post-img img{
    margin-bottom: 0;
}
.liste-actualities .post p{
    margin-bottom: 26px;
}
.liste-actualities .post{
    padding-top: 27px;
        padding-bottom: 34px;
}
.liste-right-btn{
    float: right;
    background-color: #1fa6a9;
    padding: 3px 37px 3px 54px;
    font-size: 12px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    top: -5px;
}
.liste-right-btn:after{
        content: '';
    width: 18px;
    height: 18px;
    background: #fff url(../img/s_imformation_icon.svg) no-repeat -1px center;
    position: absolute;
    top: 50%;
    right: 3px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
}

/*.................liste-actualities-end........................*/

/*.................contact-start........................*/
.contact-pg{
    padding: 21px 50px 0;
}
.contact-wrap{
    max-width: 1140px;
    margin: 56px auto 24px;
    position: relative;
}
.contact-top{
    background: url(../img/contactez_banner_img.jpg) center center no-repeat;
    min-height: 222px;
    position: relative;
}
.contact-top-content{
    background-color: rgb(33, 173, 176);
    opacity: 0.8;
    margin: 0 auto;
    width: 585px;
    padding: 23px 0 23px 0;
    position: absolute;
    top: 50%;
    transform: translate(-50% , -50%);
    left: 50%;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    white-space: inherit !important;
}
.contact-top-content h2{
    text-align: center;
    color: #fff;
    margin: 0 0 10px 0;
}
.contact-top-content h5{
    font: 400 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 30px;
}
.contact-form-left{
    margin-top: 50px;
    width: 51.4%;
    float: left;
    margin-bottom: 42px;
    text-align: center;

}
.contact-right{
    float: right;
    width: 48%;
        position: relative;
    padding: 62px 34px 0 26px;
}
.contact-right p{
    letter-spacing: 0.1px;
    word-spacing: 0;
    margin-bottom: 56px;
}
.contact-map iframe{
    width: 488px;
    height: 435px;
    max-width: 100%;
}
.contact-form {

    border: 1px solid #e6e6e6;
    padding: 31px 20px 3px 30px;
    margin-bottom: 65px;
    text-align: left;
}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="number"]{
    border: 1px solid #000;
    border-radius: 3px;
    width: 98.3%;
    height: 32px;
    padding-left: 12px;
    margin-bottom: 32px;
    font: 300 20px 'Lato', Arial, Helvetica, sans-serif;
    color: #424343;
}
.contact-form ::-webkit-input-placeholder {
   color: #e6e6e6;
}

.contact-form :-moz-placeholder { /* Firefox 18- */
   color: #e6e6e6;
}

.contact-form ::-moz-placeholder {  /* Firefox 19+ */
   color: #e6e6e6;
}

.contact-form :-ms-input-placeholder {
   color: #e6e6e6;
}
.contact-form label{
    display: block;
    font: 300 16px 'Lato', Arial, Helvetica, sans-serif;
    margin: 0 0 12px 0;
    color: #424343;
}
.contact-form select{
    border: 1px solid #000;
    border-radius: 3px;
    width: 98.3%;
    height: 32px;
    padding-left: 12px;
    margin-bottom: 27px;
    color: #000;
}
.votre-msg{
    border: 1px solid #000;
    border-radius: 3px;
    width: 98.3%;
    height: 109px;
    padding-left: 12px;
    margin-bottom: 32px;
    padding-top: 15px;
}
.contact-form-btn{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
    text-decoration: none;
    color: #010101;
    font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 20px 18px;
    vertical-align: top;
}
.map-address h5{
    color: #fff;
    font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
    background-color: #20abae;
    padding: 17px 20px 20px 24px;
    margin: 0 0 30px;
}
.map-address p{
    margin: 0;
    padding-left: 24px;
}
.map-address{
    width: 66%;
    position: absolute;
    right: 1px;
    bottom: -16%;
}
/*.................contact-end........................*/


/*.................Docu-start........................*/

.docu-top-content{
    background: url(../img/documentations_banner_img.jpg) center center no-repeat;
    min-height: 222px;

}
.doc-main-wrap{
    width: 100%;
    border: 1px solid #e6e6e6;
    margin-top: 54px;
    padding: 48px 30px 36px 53px;
    margin-bottom: 7px;
}
.list-items{
    float: left;
    padding: 0;
    margin: 0 0 23px;
    width: 100%;
    font-size: 0;
}
.list-items li{
    list-style: none;
    margin-bottom: 37px;
    position: relative;
    padding-left: 32px;
    width: 46%;
    display: inline-block;
    vertical-align: top;
}
.list-items li:nth-child(even){
    margin-left: 8%;
}
.list-items li:before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url(../img/pdf_icon_small.svg) 0 0 no-repeat;
        height: 31px;
    width: 27px;
}
.list-items li:nth-child(2){
    margin-bottom: 24px;
}
.list-items li a{
    text-decoration: none;
    color: #444446;
    font: 400 16px 'Open Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
}
.right-list{
    width: 49.1%;
    float: right;
    padding: 0 35px 0 0px;
    margin: 0 0 23px;

}
.documentation-wrap{
    margin-bottom: 60px;
}
/*.................Docu-end........................*/


/*.................nos-part-start........................*/
.nos-part-wrap{
    margin: 10px 0 0 0;
    padding: 48px 30px 30px 30px;
    background: url(../img/joined_hands_img.png) 0 center no-repeat;
}
.nos-part{
    max-width: 1140px;
    margin: 0 auto;
}
.nos-part-box{
    width: 48.7%;
    display: inline-block;
    margin-bottom: 20px;
}
.nos-part-img{
    background-color: #f2f2f2;
    width: 47.2%;
    float: left;
    padding: 30px 0;
}
.le-img-circle{
    width: 206px;
    height: 206px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}
.le-img-circle img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.nos-part-text{
    background-color: #fff;
    border: 1px solid #f2f2f2;
    width: 52.8%;
    float: right;
    padding: 22px 40px 43px 34px;
    margin: 58px 0 0 0;
    min-height: 290px;
}
.nos-part-text h5{
    font: 700 18px 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #000;
}
.nos-part-text a{
    font: 300 16px 'Lato', Arial, Helvetica, sans-serif;
    margin: 20px 0 1px -1px;
    color: #7b0046;
    text-decoration: none;
    display: block;
}
.nos-part-text p{
    font: 300 16px 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #424343;
    letter-spacing: -0.03px;
    line-height: 1.3;
}
.right-side{
    float: right;
}
.nos-text-modi{
    margin: 0;
}
.nos-img-modi{
    float: right;
    margin-top: 65px;
}
/*.................nos-part-end........................*/
/*===================
=            Member 04 page            =
======================================*/

.les-memeber-wrapper{
    padding: 48px 26px 51px 24px;
    position: relative;
}

.les-member-section.member1{
    float: left;
    margin-left: 8.6%;
    margin-bottom: 35px;
}
.les-member-section.member2, .les-member-section.member6 , .les-member-section.member9, .les-member-section.member11, .les-member-section.member13, .les-member-section.member15{
    float: right;
    margin-right: 98px;
    margin-right: 8.2%;
    margin-left: 0;
    padding: 14px 6% 13px 36px;
    margin-bottom: 96px;
}
.les-member-section.member2 .profile-img, .les-member-section.member6 .profile-img, .les-member-section.member11 .profile-img, .les-member-section.member15 .profile-img{
    left: auto;
    right: -28.0%;
    bottom: -24.5%;
}

.les-member-section.member2{
    margin-top: 2px;
    margin-bottom: 96px;
}
.les-member-section.member2 .job{
    text-transform: none;
}
.profile-img{
    width: 46%;
}
.profile-img>img{
    max-width: 100%;
    display: block;
}
.les-member-section.member3,.les-member-section.member7, .les-member-section.member10, .les-member-section.member14{
    float: left;
    margin-left: 17%;
    padding: 22px 22px 23px 3.7%;
    margin-top: 0px;
    clear: left;
}
.les-member-section.member3 .profile-img,.les-member-section.member7 .profile-img,.les-member-section.member10 .profile-img,.les-member-section.member14 .profile-img{
    left: auto;
    right: -28%;
    top: -64%;
    bottom: auto;
}
.les-member-section.member4{
    float: right;
    margin-left: 217px;
    padding: 22px 29px 24px 8.2%;
    margin-bottom: 84px;
    margin-right: 94px;
    margin-left:0;
}
/*.les-member-section.member9 .profile-img{
    top: 52px;
    left: -96px;

}*/
.les-member-section.member5, .les-member-section.member8, .les-member-section.member12{
    float: left;
    margin-left: 217px;
    padding: 8px 8px 8px 7.5%;
    margin-top: 27px;
    margin-left:98px;
    clear: left;
}
.les-member-section{
    width: 31.7%;
    height: 215px;
    padding: 32px 19px 31px 8.37%;
    position: relative;
    float: left;
    display: table;
}
.les-member-section:before{
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    border:1px solid #e6e6e6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.memeber-inner{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 13;
}
.les-member-section.member2:before, .les-member-section.member3:before, .les-member-section.member6:before, .les-member-section.member8:before, .les-member-section.member11:before{
    background: #f2f2f2;
}
.les-member-section p{
    letter-spacing: 0;
    margin-bottom: 20px;
}
.profile-img{
    position: absolute;
    left: -27.5%;
    z-index: 25;
    bottom: -25.5%;
}
.les-memeber-wrapper:after{
    content: '';
    display: table;
    clear: both;
}
.les-member-section h2{
    font: 700 20px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: #000;
    margin: 0 0 18px;
}
.les-member-section .job{
    display: block;
    font: 300 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: #7b0046;
    text-transform: uppercase;;
}
.mailus-btn{
    display: inline-block;
    font: 400 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: #535372;
    text-decoration: none;
    padding-left: 30px;
    background: url(../img/mail_icon_purple.svg) no-repeat 0 center;
}
.mailus-btn:hover{
    color: #1fa6a9;
    background: url(../img/mail_icon_green.svg) no-repeat 0 center;
}
.les-member-section.member9, .les-member-section.member13{
    margin-top: -65px;
    margin-right: 8.7%;
    padding: 24px 19px 23px 7.9%;
}
.les-member-section.member3 h2{

}
.les-member-section.member6{
    padding: 14px 74px 13px 4.5%;

}
.les-member-section.member7{
    margin-top: 42px;
    padding: 14px 22px 13px 4.5%;
}
.les-member-section.member7 .job{
    text-transform: none;
}
.les-member-section.member8{
    margin-top: 33px;
    padding: 18px 20px 19px 8%;
}
.les-member-section.member10, .les-member-section.member14{
    margin-top: 126px;
    padding: 26px 20px 20px 5.5%;
}
.les-member-section.member11, .les-member-section.member15{
    margin-top: -31px;
    padding: 22px 20px 20px 5%;
}
/*=====  End of Member 04 page  ======*/


.les-memeber-wrapper>h2{
    font: 400 25px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    padding: 0 0 10px;
    width: 40%;
    border-bottom: 2px solid #e6e6e6;
    margin: 9px 0 0;
    padding-bottom: 8px;
}
.admin1{
    float: left;
    padding: 8px 34px 8px 7.6%;
    margin-left: 8.6%;
    margin-top: 39px;
}
.admin2{
    float: right;
    padding: 8px 8px 8px 8.2%;
    margin-right: -0.2%;
    margin-top: -40px;
}
.admin2:before{
    background: #f2f2f2;
}
.admin3{
    clear: left;
    margin-left: 17%;
    margin-top: 18px;
    padding: 13px 8.2% 14px 51px;
}
.admin3:before{
    background: #f2f2f2;
}
.admin4{
    float: right;
    padding: 2px 7.3% 3px 4.3%;
    margin-right: 8.2%;
    margin-top: -4px;
}
.admin5{
    clear: left;
    margin-left: 0;
    margin-top: 23px;
    padding: 4px 8.2% 3px 30px;
}
.admin6{
    float: right;
    padding: 10px 7% 7px 30px;
    margin-right: 8.4%;
    margin-top: 52px;
}
.admin6:before, .admin7:before{
    background: #f2f2f2;
}
.admin7{
    clear: left;
    margin-left: 8.5%;
    margin-top: 76px;
    padding: 13px 22px 14px 9.3%;
}
.admin8{
    float: right;
    padding: 7px 11px 7px 7.7%;
    margin-right: 16.9%;
    margin-top: 18px;
}
.admin9{
    clear: left;
    margin-left: 8.6%;
    margin-top: 73px;
    padding: 4px 20px 3px 7.6%;
}
.admin10{
    float: right;
    padding: 10px  7px 10px 8.2%;
    margin-right: -3px;
    margin-top: -6px;
}
.admin10:before, .admin11:before{
    background: #f2f2f2;
}
.admin11{
    clear: left;
    margin-top: 18px;
    padding: 4px 20px 3px 4.6%;
    margin-left: 17%;
}
.admin12 {
    float: right;
    padding: 3px 3px 7px 2.9%;
    margin-right: 8.2%;
    margin-top: -4px;
}
.admin13{
    clear: left;
    background: #fff;
    margin-top: 27px;
    padding: 4px  8.6% 3px 30px;
    margin-left: 0;
}
.admin14{
    float: right;
    padding: 13px  7px 10px 2.6%;
    margin-right: 8.3%;
    margin-top: 56px;
}
.admin14:before, .admin15:before{
    background: #f2f2f2;
}
.admin15{
        clear: left;
    margin-top: 75px;
    padding: 4px 20px 3px 9.4%;
    margin-left: 8.4%;
}
.admin-pager{
    clear: both;
    padding-top: 100px;
    float: left;
    width: 100%;
}
div[class*="admin"] .job{
    text-transform: none;
}
.admin3 .profile-img, .admin11 .profile-img{
    top: -64.5%;
    right: -29%;
    left: auto;
    bottom: auto;
}
.admin4 .profile-img, .admin5 .profile-img, .admin6 .profile-img, .admin12 .profile-img, .admin13 .profile-img, .admin14 .profile-img{
    right: -28%;
    left: auto;
}
.admin8 .profile-img{
    top: -64.5%;
    bottom: auto;
}
.admin-pager a{
    display: inline-block;
    font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
.next-list{
    padding-left: 44px;
    float: left;
    background: url(../img/arrow_left_black.svg) no-repeat 0 center;
}
.prev-list{
    padding-right: 44px;
    float: right;
    background: url(../img/arrow_right_black.svg) no-repeat right center;
}
.detail-actualities{
    max-width: 100%;
    padding: 15px 23px;
}
.meta-container:after{
    content: '';
    display: table;
    clear: both;
}
.left-post-content{
    overflow: hidden;
    padding-left: 35px;
    padding-right: 50px;
    padding-bottom: 68px;
    min-height: 596px;
    position: relative;
}
.left-post-content p{
    letter-spacing: 0;
    margin-bottom: 20px;
    text-align: justify;
}
.meta-container .liste-right-btn{
    float: left;
    margin-left: -55px;
    font-size: 12px;
    letter-spacing: 0.02em;
    padding: 3px 37px 3px 54px;
}
.owl-carousel  .owl-item>div>img{
    display: block;
    max-width: 100%;
}
.meta-container{
    padding-top: 22px;
}
.meta-container .post-meta{
    float: right;
    margin-bottom: 43px;
    font: 400 12px 'Lato', Arial, Helvetica, sans-serif;
    color: #535372;
    padding-right: 7px;
    letter-spacing: 0.01em;
}
.left-post-content .share-post{
    text-align: right;
    margin-top: 65px;
    padding-right: 13px;
    position: absolute;
    bottom: 4px;
    right: 0;
    padding-right: 50px;
}
.detail-actualities:after{
    content: '';
    display: table;
    clear: both;
}
.slide-section2{
    overflow: hidden;
}
.single-slider{
    position: relative;
    overflow: hidden;
}
.single-slider img{
    position: absolute;
    top: 0;
    left: 100%;
    max-width: 100%;
    display: block;
    width: auto;
}
.single-slider img.active{
    position: static;
}
/*.................Historique-start........................*/
.historique-right .para-style{
    background: rgba(55, 181, 184, .95);
    padding-left: 28px;
}
.historique-right{
    margin-bottom: 42px;
}
.hist-text-box{
    border: 1px solid #e6e6e6;
    padding: 22px 25px 6px;
    clear: both;
    margin-bottom: 74px;
}
.hist-text-box ~ h3{
    line-height: 25px;
    margin-bottom: 44px;

}
.hist-text-box p{
    letter-spacing: -0.012em;
    margin-bottom: 20px;
    text-align: justify;
}
.historique-right .para-two{
    margin-top: 35px;
    padding: 14px 29px 0;
}
.historique-right .para-two p{
    letter-spacing: -0.027em;
}
.historique-right .para-two p:last-child{
    margin-bottom: 15px;
}
.hist-left-content{
    float: left;
}
.hist-left-content .para-style{
    opacity: 1;
    background-color: #37b5b8;
    padding: 25px 12px 30px 27px;
}
.hist-right-content{
    float: right;
    margin: 95px  0 0 -31px;
    width: 51.4%;
}
.hist-left-content .para-style:before{
    display: none;
}
.hist-left-content .para-style:after{
    position: absolute;
    top: -2px;
    right: -2px;
    content: "";
    background: url(../img/quote_icon_left.svg) 0 0 no-repeat;
    width: 26px;
    height: 21px;
}
.hist-left-content .para-two{
    margin-top: 43px;
    padding: 18px 29px 2px;

}
/*.................Historique-end........................*/


/*.................HOME-pg-pop-up-start........................*/
.home-pg-pop{
    /*position: fixed;
    top: 50%;
    transform: translateY(-50%);*/
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 1px 6px 0px rgba(41, 41, 41, 0.5);
    width: 562px;
    min-height: 522px;
    padding: 54px 0 30px 0;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);

}
.h-pop-up-inner{
    width: 342px;
    margin: 0 auto;
    max-width: 90%;
}
.h-pop-up-inner h2{
    font: 300 30px 'Lato', Arial, Helvetica, sans-serif;
    margin: 0 0 40px;
    color: #000;
    text-align: center;
}
.h-pop-up-inner span {
    font: 400 30px 'Lato', Arial, Helvetica, sans-serif;
    margin: 0 0 40px 0;
    display: inline-block;
    text-align: center;
    position: relative;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.pop-up-form label{
    font: 300 20px 'Lato', Arial, Helvetica, sans-serif;
    color: #424343;
    display: block;
    margin: 0 0 12px 1px;
}
.pop-up-form input[type="text"]{
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    border-radius: 3px;
    width: 342px;
    height: 48px;
    padding-left: 11px;
    margin-bottom: 13px;
    max-width: 100%;
}
.pop-up-form a{
    font: 300 14px 'Lato', Arial, Helvetica, sans-serif;
    color: #424343;
    display: block;
    float: right;
    margin: -6px 0 0;
    text-decoration: none;
}
.pop-up-form input[type="submit"] {
    background-color: rgb(33, 172, 174);
    box-shadow: 0px 1px 4px 0px rgba(105, 105, 105, 0.5);
    width: 241px;
    height: 66px;
    border: 0;
    font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
    color: #fff;
    display: block;
    margin: 29px auto;
}

/*.................HOME-pg-pop-up-end........................*/


/*.................contactez-pop-up-start........................*/
.contactez-pg-pop{
    /*position: fixed;
    top: 50%;
    transform: translateY(-50%);*/
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 1px 6px 0px rgba(41, 41, 41, 0.5);
    width: 562px;
    min-height: 373px;
    padding: 62px 0 40px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    max-width: calc(100% - 50px);
}
.c-pop-up-inner{
    width: 352px;
    margin: 0 auto;
    max-width: 90%;
}
.c-pop-up-inner h2{
    font: 700 30px 'Lato', Arial, Helvetica, sans-serif;
    margin: 0 0 38px;
    color: #20abae;
    text-transform: uppercase;
}
.c-pop-up-inner p{
    letter-spacing: 0.1px;
}
.c-pop-up-inner img{
    margin: 10px -2px 0 0;
    float: right;
}
.cross-btn{
    background: rgb(83, 83, 114) url(../img/close_icon.svg) center center no-repeat;
    content: "";
    border-radius: 50%;
    opacity: 0.702;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/*.................contactez-pop-up-start........................*/

.slide-section2{
    float: right;
    max-width: 56.6%;
}
.single-slider .owl-pagination{
    display: none !important;
}
.next-prev {
    width: 69px;
    height: 126px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
.next-slide-arrow{
    background: url(../img/arrow_right_white.png) no-repeat center center;
    right: 16px;
}
.prev-slide-arrow{
    background: url(../img/arrow_left_white.png) no-repeat center center;
    left: 16px;
}

.nos-part-wrap .pagination{
        margin: 36px 0 21px;
}
.single-img-avatar{
    position: absolute;
    top: 59px;
    right: -98px;
}
.download-pdf{
    float: right;
    font: 700 16px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #b53629;
    position: absolute;
    top: 25px;
    right: 0;
    padding: 14px 0 14px 35px;
    background: url(../img/pdf_icon.svg) no-repeat 0 center;
    text-decoration: none;
    letter-spacing: 0.01em;
}
.section{
    position: relative;
}
.chng-icon1:after{
    background: url(../img/eye_icon.svg) center center no-repeat;
}
.chng-icon2:after{
    background: url(../img/parution_press_icon.svg) center center no-repeat;
}
.chng-icon3:after{
    background: url(../img/nos_actualites-icon.svg) center center no-repeat;
    width: 30px;
}
.pop-up-form ::-webkit-input-placeholder {
    color: #e6e6e6;
    font-style: italic;
}
.pop-up-form :-moz-placeholder {
    color: #e6e6e6;
    font-style: italic;
}
.pop-up-form ::-moz-placeholder {
    color: #e6e6e6;
    font-style: italic;
}
.pop-up-form :-ms-input-placeholder {
    color: #e6e6e6;
    font-style: italic;
}
.menu-wrapper{
    float: right;
}
.popup-overlay{
    background: rgba(0,0,0,.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
}
.ov_hidden{
    height: 100vh
    width: 100vw;
    overflow: hidden;
}
.error{
    border-color: #f00 !important;
}
.post-img-section img{
    width: 100%;
    display: block;
}
.post-img-section{
    margin-bottom: 25px;
}
.post-section-2{
    padding: 14px 25px 75px;
    background: #f2f2f2;
}
.post-section-2 h3{
    font: 700 22px 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.15;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 20px;
    letter-spacing: 0.01em;
}
.tab-social{
    display: none;
}
.hidden {
    display: none !important;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.tp-banner{
    position: relative;
    min-height: 222px;
}
.tp-simpleresponsive >ul >li{
    transition: all .5s linear;
}
.contact-map{
    height: 0;
    padding: 37px 0 84.78%;
    position: relative;
}
.contact-map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 1025px) {
    .main-menu li:hover a:before{
        width: 100%;
        opacity: 1;
        visibility: visible;
    }
    .main-menu li ul li a:hover, .copyright p a:hover, .footer-links ul li a:hover{
        color: #1fa6a9;
    }
    .main-menu li ul li:hover>a{
        color: #1fa6a9;
    }
    a{
        -webkit-transition:background-color,color 0.2s ease-in-out;
        -moz-transition:background-color,color 0.2s ease-in-out;
        -ms-transition:background-color,color 0.2s ease-in-out;
        transition:background-color,color 0.2s ease-in-out;
    }
    .les-member-section:hover:before {
        opacity: .9;
        z-index: 13;
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }
    .profile-img:hover, .post-thumbnail:hover, .nos-part-img:hover, .nos-part-text:hover, .single-img-wrapper>img:hover, .single-img-avatar:hover{
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
        z-index: 14;
    }
    .les-member-section:hover>.profile-img{
        z-index: 1;
    }
    .profile-img, .les-member-section:before, .post-thumbnail, .nos-part-img, .nos-part-text, .single-img-wrapper>img, .single-img-avatar, .news-btn{
        -webkit-transition:all 0.2s ease-in-out;
        -moz-transition:all 0.2s ease-in-out;
        -ms-transition:all 0.2s ease-in-out;
        transition:all 0.2s ease-in-out;
    }
    .les-member-section.hover:before{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        z-index: 1;
    }
    .news-btn:hover{
        -webkit-transform: scale(1.15)  translate(-50%, 0);
        -moz-transform: scale(1.15) translate(-50%, 0);
        -ms-transform: scale(1.15) translate(-50%, 0);
        transform: scale(1.15) translate(-50%, 0);
    }
    .post-btn:hover:after{
        background: url(../img/arrow_white_right.svg) no-repeat 0 center;
    }
    .post-btn:hover{
        background: #20abae;
        border-color: transparent;
        color: #fff;
    }
    .novtel-btn:hover{
      background: rgb(31, 166, 169);
      color: #fff;
    }
    .admin-pager a:hover, .pager a:hover{
        color: #1fa6a9;
    }
    .prev-list:hover, .next-post:hover{
        background: url(../img/arrow_right_green.svg) no-repeat right 8px;
    }
    .next-list:hover, .prev-post:hover{
        background: url(../img/arrow_left_green.svg) no-repeat 0 8px;
    }
}
@media screen and (max-width: 1300px) {
    .important-note{
        padding: 10px 10px 10px;
    }
    .reseau-btn .adherer-btn{
        padding: 10px;
        margin-right: 0;
    }
    .reseau-btn .btn{
        font-size: 14px;
    }
    .reseau-btn .adhesion-btn{
        margin-right: -8px;
    }
    .important-note:after{
        width: 274px;
    }
    .profile-img{
        width: 43%;
    }
}
@media screen and (max-width: 1199px) {
    .main-menu li{
        font-size: 14px;
    }
    .main-menu li + li{
        margin-left: 11px;
    }
    .main-content{
        padding-left: 25px;
        padding-right: 25px;
    }
    .footer-links ul li a:hover{
        color: #1fa6a9;
    }
    .left-post-content{
        padding-left: 0;
        padding-right: 20px;
    }
    .detail-actualities{
        padding-left: 10px;
    }
    .meta-container~p{
        padding-left: 13px;
    }
    .meta-container .liste-right-btn{
        margin-left: 0;
        padding: 3px 37px 3px 14px;
    }
    .admin3 .profile-img, .admin11 .profile-img{
        top: -25%;
    }
    .admin3, .admin4{
        padding-left: 12px;
    }
    .les-member-section.member5, .les-member-section.member8, .les-member-section.member12{
        margin-left: 74px;
    }
    .les-member-section.member10, .les-member-section.member14, .les-member-section.member7{
        padding-left: 15px;
    }
    .les-member-section.member2, .les-member-section.member6, .les-member-section.member11, .les-member-section.member15{
        padding-left: 20px;
    }
    .les-member-section.member9, .les-member-section.member13{
        margin-top: -6px;
    }
    .les-member-section.member3 .profile-img, .les-member-section.member7 .profile-img, .les-member-section.member10 .profile-img, .les-member-section.member14 .profile-img{
        top: -50%;
    }
    /*.nos-part-box{
        padding: 0;
        padding-bottom: 47.2%;
        position: absolute;
        height: 0;
    }*/
    .nos-part-text{
        padding: 20px;
    }
    .le-img-circle{
        max-width: 90%;
        padding-bottom: 90%;
        height: 0;
    }
    .le-img-circle img{
        max-width: 70%;
    }
    .img-grey-btm p{
        padding: 0 50px;
    }
    .post-btn:last-child{
        margin-top: 10px;
    }
    .pagination{
        clear: both;
    }
    .single-img-avatar img{
        width: 75%;
    }
    .profile-img>img{
        width: 80%;
        margin: 10px;
    }
    .admin8 .profile-img{
        top: -25%;
    }
    .admin3 .profile-img, .admin11 .profile-img{
        top: -40%;
    }
    .admin6, .admin14{
        margin-top: 65px;
    }
    .les-member-section h2{
        padding-right: 30px;
    }
    .admin10{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .admin12{
        margin-top: 20px;
        padding-right: 41px;
    }
    .les-member-section.member14 .profile-img{
        top: -38%;
    }
    .home{
        padding-left: 0;
        padding-right: 0;
    }
    .inner-home-content{
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (min-width: 992px) {
    .main-menu li:hover>ul{
        visibility: visible;
        opacity: 1;
    }
    .mobile-extras, .menu-btn, .register-btn{
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .top-bar{
        display: none;
    }
    .menu-wrapper{
        position: absolute;
        top: 0;
        right: 0;
        width: 386px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 5px 0px rgb( 0, 0, 0 );
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        transform: translateX(110%);
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        z-index: 16px;
    }
    .menu-wrapper.slide-in{
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    .main-menu{
        margin: 0;
        float: none;
        width: 100%;
    }
    .logo img{
        width: 94px;
    }
    .main-menu li{
        display: block;
        font-weight: 400;
    }
    .main-menu>li{
        padding: 13px 0;
        border-bottom: 1px solid #d0cfce;
    }
    .main-menu .home:after{
        z-index: 1;
        background: url(../img/home_icon_mbl.svg) no-repeat 0 0;
        width: 40px;
        height: 40px;
        top: 3px;
        left: 33px;
        background-size: 40px auto;
    }
    .main-menu li ul{
        position: static;
        visibility: visible;
        opacity: 1;
        width: 100%;
        background: none;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .main-menu li ul li{
        padding: 0;
    }
    .main-menu  li a.home{
        padding-left: 105px;
    }
    .main-menu li + li{
        margin-left: 0;
    }
    .main-menu li a{
        padding: 13px 33px;
        display: block;
    }
    .main-menu>li.active>a:before{
        visibility: hidden;
    }
    .main-menu>li>a.home{
        color: #1fa6a9;
    }
    .main-menu li.active a:not(.home){
        background: #1fa6a9;
        color: #fff;
    }
    .main-menu li ul li + li{
        margin-top: 0;
    }
    .main-menu li ul li a{
        padding: 12px 53px;
    }
    .main-menu li ul ul a{
        padding-left: 70px;
    }
    .main-menu li ul ul{
        position: static;
    }
    .mobile-search-menu{
        padding: 20px 34px;
        border-bottom: 1px solid #e2e2e2;
    }
    .mobile-search-menu input[type="search"]{
        border-width: 1px;
        border-color: rgb( 31, 166, 169 );
        border-style: solid;
        border-radius: 1px;
        width: 100%;
        height: 49px;
        display: block;
        padding: 0 26px 0 63px;
        background: url(../img/search_icon.svg) no-repeat 8px center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-background-size: 31px auto;
        background-size: 31px auto;
        font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
        color: #1fa6a9;
    }
    .mobile-search-menu ::-webkit-input-placeholder {
       color: #1fa6a9;
    }

    .mobile-search-menu :-moz-placeholder { /* Firefox 18- */
       color: #1fa6a9;
    }

    .mobile-search-menu ::-moz-placeholder {  /* Firefox 19+ */
       color: #1fa6a9;
    }

    .mobile-search-menu :-ms-input-placeholder {
       color: #1fa6a9;
    }
    .button-sections{
        padding: 39px 0 54px;
        border-bottom: 1px solid #e2e2e2;
    }
    .button-sections h3{
        font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0 0 23px 35px;
    }
    .button-sections a{
        border-style: solid;
        border-width: 1px;
        border-color: rgb( 86, 49, 86 );
        border-radius: 1px;
        background-image: -moz-linear-gradient( 90deg, rgb(123,0,70) 0%, rgb(154,24,98) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(123,0,70) 0%, rgb(154,24,98) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(123,0,70) 0%, rgb(154,24,98) 100%);
        display: block;
        margin: 0 auto;
        width: 226px;
        height: 44px;
        text-align: center;
        font: 700 16px 'Lato', Arial, Helvetica, sans-serif;
        color: #fff;
        line-height: 44px;
        text-decoration: none;
    }
    .button-sections a + a{
        margin-top: 15px;
        color: #000;
        font-weight: 400;
        border-style: solid;
        border-width: 1px;
        border-color: rgb( 211, 211, 211 );
        border-radius: 3px;
        background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(230,230,230) 37%, rgb(244,244,244) 100%);
    }
    .mobile-social-links{
        padding: 36px 10px;
        text-align: center;
        background: #e6e6e6;
    }
    .mobile-social-links span{
        font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
        color: #000;
    }
    .mobile-social-links a{
        width: 45px;
        height: 45px;
        line-height: 45px;
        display: inline-block;
        border-radius: 50%;
        background: #fff;
        vertical-align: middle;
        margin-left: 8px;
    }
    .menu-back{
        position: absolute;
        top: 0;
        right: 100%;
        width: 100px;
        margin-right: 19px;
        visibility: hidden;
    }
    .menu-back .register-btn{
        margin-top: 15px;
    }
    .slide-in .menu-back{
        visibility: visible;
    }
    .slide-section{
        width: 100%;
    }
    .thumbnails-right{
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 18px;
    }
    .post-thumbnail{
        width: 136px;
        margin: 0 3px;
        float: none !important;
        display: inline-block;
        margin-top: 0 !important;
        vertical-align: top;
    }
    .nos-mem-section{
        width: 56%;
        float: left;
    }
    .important-note, .left-posts-section{
        float: none;
        width: 100%;
    }
    .right-btm-section{
        clear: both;
    }
    .left-btm-section{
        width: 37.725%;
        float: right;
        padding-right: 0;
    }
    .post-icons{
        width: 116px;
        height: 116px;
        line-height: 116px;
        margin: 0 2px;
    }
    .container{
        width: calc(100% - 55px);
    }
    .content-wrapper:before{
        width: calc(100% + 60px);
        left: -30px;
    }

    /*.main-content{
        padding-left: 0;
        padding-right: 0;
    }*/
    .post-thumbnail a{
        text-align: left;
        padding: 11px 10px 12px 10px;
        min-height: 133px;
    }
    .post-thumbnail h3{
        font-size: 18px;
    }
    .post-thumbnail p{
        font-size: 14px;
    }
    .post-thumbnail .post-btn2{
        font-size: 12px;
    }
    .inner-home-content{
        width: 800px;
        max-width: calc(100% - 55px);
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        padding-top: 18px;
    }
    .header-wrappper>.container{
        padding: 13px 0;
    }
    .page-wrapper{
        overflow: hidden;
    }
    .inner-content{
        padding-left: 0;
        padding-right: 0;
    }
    .banner-section{
        margin-bottom: 20px;
    }
    .menu-btn{
        float: right;
        width: 37px;
        height: 37px;
        font-size: 0;
        line-height: 0;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 100%;
        padding: 0;
        background: url(../img/menu_icon.svg) no-repeat center center;
        margin-left: 22px;
        margin-top: 8px;
    }
    .register-btn{
        float: right;
        width: 37px;
        height: 37px;
        font-size: 0;
        line-height: 0;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 100%;
        padding: 0;
        background: url(../img/lock_icon-big.svg) no-repeat center center;
        margin-top: 8px;
    }
    .back-btn{
        float: right;
        width: 37px;
        height: 37px;
        font-size: 0;
        line-height: 0;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 100%;
        padding: 0;
        background: url(../img/back-btn.png) no-repeat center center;
        margin-top: 15px;
        margin-left: 25px;
    }
    .contact-right{
        padding-left: 10px;
        padding-right: 10px;
    }
    .les-member-section.member3 .profile-img{
        top: -32%;
    }
    .slide-section2, .left-post-content{
        width: 100%;
    }
    .meta-container .liste-right-btn{
        margin-left: 0;
    }
    h1, .hdst1{
        font-size: 16px;
        padding: 5px 8px 5px 31px !important;
    }
    .leftpost-content, .form-widget{
        width: 100%;
    }
    .form-widget{
        margin-top: 20px;
    }
    .single-img-avatar img{
        width: 68%;
    }
    .sinle-post-content .post-meta{
        padding-right: 3px;
    }
    .doc-main-wrap{
        padding: 20px;
        margin-top: 20px;
    }
    .fed-left-content, .fed-right-content{
        width: 100%;
        margin-top: 0;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .fed-right-content{
        margin-top: 40px;
    }
    .hist-text-box{
        margin-bottom: 50px;
    }
    .nos-part-box{
        width: 100%;
    }
    .le-img-circle{
        width: 206px;
        height: 206px;
        padding-bottom: 0;
    }
    .president-info{
        padding-right: 0;
    }
    .les-memeber-wrapper{
        width: 590px;
        max-width: 100%;
        margin: 0 auto;
    }
    .les-member-section{
        width: 80%;
    }
    .profile-img{
        width: 30.33%;
        z-index: 0;
    }
    .profile-img>img{
        margin: 0;
        width: 100%;
    }
    .les-member-section.member1 .profile-img, .les-member-section.member3 .profile-img, .les-member-section.member5 .profile-img, .les-member-section.member7 .profile-img, .les-member-section.member9 .profile-img, .les-member-section.member11 .profile-img, .les-member-section.member13 .profile-img, .les-member-section.member15 .profile-img{
        left: -8%;
        bottom: auto;
        top: -95px;
        right: auto;
    }
    .les-member-section.member1, .les-member-section.member3, .les-member-section.member5, .les-member-section.member7, .les-member-section.member9, .les-member-section.member11, .les-member-section.member13, .les-member-section.member15{
        float: left;
        margin: 0 0 40px 0;
        padding: 8px 20px 8px 107px;
    }
    .les-member-section.member2, .les-member-section.member4, .les-member-section.member6, .les-member-section.member8, .les-member-section.member10, .les-member-section.member12, .les-member-section.member14{
        float: right;
        margin: 0 0 40px 0;
        padding: 8px 107px 8px 20px;
    }
    .les-member-section.member10, .les-member-section.member14{
        margin-top: 0;
    }
    .les-member-section.member2 .profile-img, .les-member-section.member4 .profile-img, .les-member-section.member6 .profile-img, .les-member-section.member8 .profile-img, .les-member-section.member10 .profile-img, .les-member-section.member12 .profile-img, .les-member-section.member14 .profile-img{
        right: -8%;
        bottom: auto;
        top: -95px;
        left: auto;
    }
    footer h3{
        font-size: 12px;
    }
    .footer-top-section{
        padding: 20px;
    }
    .les-member-section.member1{
        margin-top: 80px;
    }
    .memeber-inner{
        z-index: 0;
    }
    .les-member-section.admin1 .profile-img, .les-member-section.admin3 .profile-img, .les-member-section.admin5 .profile-img, .les-member-section.admin7 .profile-img, .les-member-section.admin9 .profile-img, .les-member-section.admin11 .profile-img, .les-member-section.admin13 .profile-img, .les-member-section.admin15 .profile-img{
        left: -8%;
        bottom: auto;
        top: -95px;
        right: auto;
    }
    .les-member-section.admin1, .les-member-section.admin3, .les-member-section.admin5, .les-member-section.admin7, .les-member-section.admin9, .les-member-section.admin11, .les-member-section.admin13, .les-member-section.admin15{
        float: left;
        margin: 0 0 40px 0;
        padding: 8px 20px 8px 107px;
    }
    .les-member-section.admin2, .les-member-section.admin4, .les-member-section.admin6, .les-member-section.admin8, .les-member-section.admin10, .les-member-section.admin12, .les-member-section.admin14{
        float: right;
        margin: 0 0 40px 0;
        padding: 8px 107px 8px 20px;
    }
    .les-member-section.admin10, .les-member-section.admin14{
        margin-top: 0;
    }
    .les-member-section.admin2 .profile-img, .les-member-section.admin4 .profile-img, .les-member-section.admin6 .profile-img, .les-member-section.admin8 .profile-img, .les-member-section.admin10 .profile-img, .les-member-section.admin12 .profile-img, .les-member-section.admin14 .profile-img{
        right: -8%;
        bottom: auto;
        top: -95px;
        left: auto;
    }
    .les-memeber-wrapper>h2{
        margin-bottom: 128px;
        width: 100%;
    }
    .has-childre>a{
        position: relative;
    }
    .has-children>a:after{
        position: absolute;
        top: 50%;
        right: 28px;
        content: '';
        width: 14px;
        height: 7px;
        background: url(../img/arrow_down_black_tab.svg) no-repeat center center;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
    }
    .has-children>a.active:after{
        -webkit-transform: rotate(180deg) translateY(-50%);
        -ms-transform: rotate(180deg) translateY(-50%);
        -o-transform: rotate(180deg) translateY(-50%);
        transform: rotate(180deg) translateY(-50%);
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }
    .main-menu li ul{
        display: none;
    }
    .fed-left-content{
        max-width: 100%;
        width: 568px;
        float: none;
        margin: 0 auto;
    }
    .nos-img-modi{
        float: left;
        margin-top: 0;
    }
    .nos-text-modi{
        margin-top: 58px;
    }
    .slide-section .slide{
        height: 278px;
    }
    .slide-post{
        width: 478px;
        left: 39px;
        bottom: 18px;
    }
    .slide-content{
        padding: 5px 11px 9px;
    }
    .slide-content p{
        font-size: 14px;
    }
    .slide-post h2{
        font-size: 22px;
    }
    .left-btm-section h2:after, h1:after, .hdst1:after, .right-btm-section h2:after{
        width: 22px;
        height: 22px;
        background-size: 25px auto;
        left: 6px;
    }
    .inner-btm-left{
        margin-top: 9px;
        padding: 3px;
    }
    .share-bar a{
        width: 17px;
        height: 17px;
        line-height: 17px;
    }
    .share-bar{
        padding: 1px 4px;
    }
    .share-bar span{
        font-size: 11px;
    }
    .important-note h3{
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 29px;
    }
    .left-btm-section .news-btn, .news-btn{
        width: 200px;
        font-size: 13px;
        padding: 14px 6px;
    }
    .news-btn:before{
        width: 20px;
        background-position: right center;
        -webkit-transform: translateX(-1px);
        -moz-transform: translateX(-1px);
        -ms-transform: translateX(-1px);
        transform: translateX(-1px);
    }
    .important-note:after{
        width: 237px;
        height: 92px;
    }
    .reseau-btn .btn{
        font-size: 13px;
        padding: 5px;
        margin-right: 0;
    }
    .important-note{
        padding: 10px 10px 11px;
    }
    .post-icons{
        margin: 5px !important;
    }
    .left-posts-section{
        padding: 5px 7%;
        margin-top: 10px;
    }
    .img-section{
        padding: 26px 23px 71px;
    }
    .left-btm-section{
        margin-bottom: 40px;
    }
    .tab-social{
        display: block;
    }
    .footerwapper{
        display: none;
    }
    .copyright{
        background: #424343;
        position: relative;
        z-index: 1001;
        margin: 0 27px 10px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.5);
    }
    .copyright p{
        color: #fff;
    }
    .tab-social{
        position: absolute;
        top: 7px;
        left: 35px;
    }
    .post-img-section{
        padding: 20px;
        background: #e6e6e6;
        position: relative;
        margin-bottom: 50px;
        position: relative;
    }
    .post-img-section:after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 32px 25px 0;
        border-color: transparent #e6e6e6 transparent transparent;
        position: absolute;
        top: 100%;
        left: 20px;
    }
    .list-items li{
        width: 48%;
    }
    .list-items li:nth-child(even){
        margin-left: 4%;
    }
    .slide-section2{
        max-width: 100%;
    }
    .single-slider img{
        max-width: 100%;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .slide-section2, .left-post-content{
        padding-right: 0;
        min-height: inherit;
    }
    .meta-container~p{
        padding-left: 0;
    }
    .post-icons:after{
        background-size: 100% auto !important;
    }
    .post-icons:nth-child(2):after{
        background-position: 0 7px;
    }
    .post-icons:nth-child(4):after{
        background-position: 0 36px;
        background-size: 77px auto !important;
    }
}
@media screen and (max-width: 767px) {
    .contact-form-left, .contact-right{
        width: 100%;
    }
    .map-address{
        position: static;
        float: right;
    }
    .footerwapper{
        display: none;
    }
    .container{
        width: calc(100% - 24px);
    }
    .menu-btn, .register-btn{
        width: 32px;
        height: 32px;
        -webkit-background-size: auto 32px;
        background-size: auto 32px;
    }
    .menu-btn{
        margin-left: 13px;
    }
    .header-wrappper>.container{
        padding: 8px 0;
    }
    .contact-pg{
        padding-top: 11px;
    }
    h1, .hdst1, .right-btm-section .hdst1 {
        font-size: 17px;
        padding-left: 31px !important;
    }
    /*h1:after, .hdst1:after, .right-btm-section .hdst1:after{
        width: 24px;
        height: 24px;
        -webkit-background-size: 26px auto;
        background-size: 26px auto;
    }*/
    .contact-top-content{
        width: 90%;
        padding: 20px;
    }
    .map-address{
        margin-top: -20px;
        margin-bottom: 30px;
        position: relative;
        margin: -20px auto 30px;
        float: none;
    }
    .menu-wrapper{
        width: 260px;
    }
    .main-menu li{
        text-transform: uppercase;
    }
    .main-menu li ul li{
        font-size: 13px;
        text-transform: uppercase;
    }
    .main-menu li a{
        padding: 13px 20px;
    }
    .main-menu li ul li a{
        padding: 4px 10px 4px 36px;
        color: #424343;
    }
    .main-menu li ul li ul li a{
        padding: 4px 58px;
    }
    .main-menu  li a.home{
        padding-left: 68px;
    }
    .main-menu .home:after {
        left: 20px;
        background-size: 34px auto;
    }
    .mobile-search-menu{
        padding: 20px 20px;
    }
    .mobile-search-menu input[type="search"]{
        padding-left: 30px;
        -webkit-background-size: 20px auto;
        background-size: 19px auto;
        font-size: 13px;
        background-position: 6px center;
        padding-right: 7px;
    }
    .mobile-social-links a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .mobile-social-links a img{
        transform: scale(.7);
    }
    .mobile-social-links span{
        font-size: 13px;
    }
    .mobile-social-links{
        padding: 23px 10px;
    }
    .menu-back{
        margin-right: 11px;
    }
    .contact-form{
        padding: 23px 20px;
        margin-bottom: 23px;
    }
    .contact-form input[type="text"],.contact-form input[type="email"],.contact-form input[type="number"], .contact-form select{
        width: 100%;
        display: block;
        height: 28px;
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 20px;
        border-radius: 0;
    }
    .contact-form label{
        font-size: 15px;
    }
    .votre-msg{
        padding: 11px 9px;
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 20px;
        height: 100px;
        border-radius: 0;
    }
    .contact-form-btn{
        width: 166px;
        font-size: 14px;
        padding: 20px 6px;
    }
    .contact-right>p{
        display: none;
    }
    .map-address h5{
        font-size: 14px;
        padding: 13px 30px;
        margin-bottom: 16px;
    }
    .map-address p{
        font-size: 11px;
        color: #424343;
    }
    .contact-right{
        padding-top: 20px;
        border-top: 1px solid #eee;
    }
    .contact-form-left{
        margin-bottom: 25px;
    }
    .back-btn{
        margin-left: 14px;
        width: 32px;
        -webkit-background-size: 32px auto;
        background-size: 32px auto;
        font-size: 14px;
    }
    .les-memeber-wrapper>h2{
        width: 100%;
        margin-bottom: 60px;
        font-size: 16px;
    }
    .les-member-section h2{
        padding-right: 0;
    }
    .les-member-section{
        width: 100%;
    }
    .profile-img{
        width: 110px;
    }
    .les-member-section.admin1 .profile-img, .les-member-section.admin3 .profile-img, .les-member-section.admin5 .profile-img, .les-member-section.admin7 .profile-img, .les-member-section.admin9 .profile-img, .les-member-section.admin11 .profile-img, .les-member-section.admin13 .profile-img, .les-member-section.admin15 .profile-img{
        left: -13px;
        bottom: auto;
        top: -30px;
        right: auto;
    }
    .les-member-section.admin2 .profile-img, .les-member-section.admin4 .profile-img, .les-member-section.admin6 .profile-img, .les-member-section.admin8 .profile-img, .les-member-section.admin10 .profile-img, .les-member-section.admin12 .profile-img, .les-member-section.admin14 .profile-img{
        right: -13px;
        bottom: auto;
        top: -30px;
        left: auto;
    }
     .les-member-section.member1 .profile-img, .les-member-section.member3 .profile-img, .les-member-section.member5 .profile-img, .les-member-section.member7 .profile-img, .les-member-section.member9 .profile-img, .les-member-section.member11 .profile-img, .les-member-section.member13 .profile-img, .les-member-section.member15 .profile-img{
        left: -13px;
        bottom: auto;
        top: -30px;
        right: auto;
    }
    .les-member-section.member2 .profile-img, .les-member-section.member4 .profile-img, .les-member-section.member6 .profile-img, .les-member-section.member8 .profile-img, .les-member-section.member10 .profile-img, .les-member-section.member12 .profile-img, .les-member-section.member14 .profile-img{
        right: -13px;
        bottom: auto;
        top: -30px;
        left: auto;
    }
    .les-memeber-wrapper{
        padding-left: 0;
        padding-right: 0;
    }
    .next-list{
        padding-left: 25px;
        -webkit-background-size: 20px auto;
        background-size: 20px auto;
    }
    .prev-list{
        padding-right: 25px;
        -webkit-background-size: 20px auto;
        background-size: 20px auto;
    }
    .admin-pager a{
        font-size: 15px;
    }
    .next-prev{
        -webkit-background-size: 35px auto !important;
        background-size: 35px auto !important;
        width: 35px;
        height: 63px;
    }
    .next-slide-arrow{
        right: 6px;
    }
    .prev-slide-arrow{
        left: 6px;
    }
    .meta-container .post-meta{
        margin-bottom: 30px;
    }
    .detail-actualities{
        padding-left: 0;
        padding-right: 0;
    }
    .pager{
        margin-left: 0;
        margin-right: 0;
    }
    .pager a{
        width: 189px;
        font-size: 13px;
    }
    .pager a span{
        font-size: 13px;
    }
    .prev-post{
        padding-left: 25px;
        background-size: 20px auto;
        background-position: 0 3px;
    }
    .next-post{
        padding-right: 25px;
        background-size: 20px auto;
        background-position: right 3px;
    }
    .single-top-section{
        padding: 20px 0;
    }
    .single-img-avatar {
        width: 20%;
        bottom: 29px;
        right: -18px;
        max-width: 166px;
    }
    .single-img-avatar img{
        width: 100%;
    }
    .sinle-post-content{
        padding-right: 0;
    }
    .grey-section{
        padding: 20px;
    }
    .grey-section h4{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .grey-section p{
        font-size: 14px;
    }
    h3{
        font-size: 20px;
    }
    .novtel-btn, .novtel-btn:last-child{
        float: none;
        display: block;
        margin: 0 auto 10px;
    }
    .form-widget input[type="submit"]{
        height: 60px;
        width: 160px;
        font-size: 16px;
    }
    .section{
        padding: 30px 0;
    }
    .section h3{
        margin-bottom: 16px;
    }
    .form-widget h4{
        font-size: 16px;
    }
    .form-widget h5{
        font-size: 14px;
    }
    .form-widget label:first-of-type{
        margin-top: 0;
    }
    .left-list{
        width: 100%;
        padding-right: 0;
    }
    .fed-right-content, .para-two{
        margin-top: 20px;
    }
    .fed-content-wrap .img-grey-btm{
        padding: 12px 0;
    }
    .fed-content-wrap h3{
        margin: 10px 0 15px;
        font-size: 18px;
    }
    .para-style, .para-two, .historique-right .para-style, .historique-right .para-two{
        padding: 20px;
    }
    .para-two p:last-child, .historique-right .para-two p:last-child{
        margin-bottom: 0;
    }
    .img-grey-btm p{
        padding-right: 0;
        padding-left: 0;
    }
    .content-box{
        padding-left: 20px;
        padding-right: 20px;
    }
    .le-img-circle{
        width: 165px;
        height: 165px;
        line-height: 165px;
    }
    .contact-wrap{
        margin-top: 19px;
    }
    .contact-top{
        min-height: 150px;
    }
    .contact-top-content{
        padding: 10px;
    }
    .contact-top-content h2{
        font-size: 15px;
        margin-bottom: 3px;
    }
    .contact-top-content h5{
        padding: 0;
        font-size: 14px;
    }
    .contact-top-content{
        top: 50%;
        max-width: 323px;
    }
    .content-wrapper:before{
        width: calc(100% + 14px);
        left: -7px;
    }
    .contact-pg{
        padding-bottom: 10px;
    }
    .post-btns{
        padding-left: 0;
    }
    .box-wrapper{
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
    }
    .president-img{
        width: 180px;
        float: none;
        margin: 0 auto;
    }
    .president-img>img{
        width: 100%;
    }
    .green-section{
        margin-bottom: 10px;
    }
    .president-content{
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    .president-content img{
        max-width: 100%;
    }
    .box-wrapper ul{
        padding-left: 10px;
    }
    .thumbnails-right{
        display: none;
    }
    .nos-mem-section{
        width: 100%;
    }
    .left-btm-section{
        width: 100%;
    }
    .right-btm-section{
        padding-top: 0;
    }
    .new-post{
        width: 100%;
    }
    .new-post:nth-child(2){
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
    }
    .slide-post{
        left: 10px;
        bottom: 10px;
        width: calc(100% - 20px);
    }
    .new-post h3{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
    .post-meta{
        font-size: 12px;
    }
    .post-img img, .news-wrapper .post-img{
        margin-bottom: 20px;
    }
    .new-post{
        padding-bottom: 40px;
    }
    .important-note h3{
        margin-bottom: 36px;
    }
    .slide-post h2{
        font-size: 19px;
    }
    .post-section-2{
        background: none;
        padding:15px 15px 40px;
    }
    .tab-social{
        display: none;
    }
    .copyright{
        margin: 0 10px 10px;
    }
    .list-items li{
        display: block;
        width: 100%;
    }
    .list-items li:nth-child(even){
        margin-left: 0;
    }
    .home-pg-pop{
        padding: 20px 0;
        min-height: inherit;
        width: 350px;
    }
    .h-pop-up-inner span {
        font: 400 20px 'Lato', Arial, Helvetica, sans-serif;
        margin: 0;
        display: block;
        text-align: center;
        position: relative;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .h-pop-up-inner h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .pop-up-form label{
        font-size: 15px;
    }
    .pop-up-form input[type="text"]{
        font-size: 15px;
        height: 35px;
    }
    .pop-up-form input[type="submit"]{
        height: 40px;
        margin-bottom: 0;
    }
    .liste-actualities{
        margin-top: 0;
    }
    .inner-content{
        padding-top: 20px;
    }
    .left-posts-section{
        display: none;
    }
    .tp-banner{
        position: relative;
        min-height:150px;
    }
    .post h2, h2{
        font-size: 15px;
    }

}
@media screen and (max-width: 479px) {
    .les-member-section p{
        word-break: break-all;
    }
    .download-pdf{
        position: static;
        float: none;
    }
    .menu-wrapper{
        width: 218px;
    }
    .nos-part-img, .nos-part-text{
        width: 100%;
        margin-top: 0;
    }
    .pagination li a.prev-post{
        margin-right: 10px;
    }
    .pagination li a.next-post{
        margin-left: 10px;
    }
    .pagination{
        font-size: 0;
    }
    .pagination li a:not(.prev-post):not(.next-post), .pagination li span{
        min-width: 25px;
        height: 25px;
        line-height: 13px;
    }
    .pagination li a.prev-post, .pagination li a.next-post{
        width: 18px;
        background-size: 18px auto;
        height: 35px;
    }
    .menu-wrapper{
        -webkit-transform: translateX(110%) scale(.8);
        -moz-transform: translateX(110%) scale(.8);
        -ms-transform: translateX(110%) scale(.8);
        transform: translateX(110%) scale(.8);
        -webkit-transform-origin: right 0;
        -moz-transform-origin: right 0;
        -ms-transform-origin: right 0;
        transform-origin: right 0;
    }
    .menu-wrapper.slide-in {
        -webkit-transform: translateX(0%) scale(.8);
        -moz-transform: translateX(0%) scale(.8);
        -ms-transform: translateX(0%) scale(.8);
        transform: translateX(0%) scale(.8);
    }
    .menu-back .register-btn, .menu-back .back-btn{
        margin-top: 5px;
        clear: both;
        float: right;
    }
    .button-sections{
        text-align: center;
    }
    .button-sections h3{
        margin-left: 0;
    }
    .button-sections a{
        max-width: 90%;
    }
    .les-member-section{
        padding: 20px !important;
        text-align: center;
        margin-top: 60px !important;
    }
    .profile-img{
        position: relative;
        margin: -95px auto 13px;
        float: none;
        z-index: 100;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }
    .memeber-inner{
        display: block;
    }
    .les-memeber-wrapper{
        padding-bottom: 0;
    }
    .post-icons{
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .left-posts-section{
        padding: 5px;
    }
    .important-note:after{
        display: none;
    }
    .reseau-btn .btn{
        float: none !important;
        margin-top: 10px;
        clear: both;
        display: inline-block;
    }
    .pager{
        margin: 0 -16px;
    }
    .pager a{
        width: 137px;
        font-size: 10px;
    }
    .pager a span{
        font-size: 0;
    }
}
